.calender-wrapper{
    width: 100%;
}
.calendar-main{
    width: 15vw;
    padding: 0.5rem;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
}

button {
    cursor: pointer;
}

.calendar {
   width: fit-content;
   display: flex;
   gap: 1rem;
}
