<div class="calender-wrapper">
    <div class="calendar-main" (click)="viewCalender=!viewCalender">
        <div>{{startDate?(startDate | date:'mediumDate'):'--:--:----'}}</div>
        <div>To</div>
        <div>{{endDate?(defaultDate | date:'mediumDate'):'--:--:----'}}</div>
    </div>
</div>
<div class="calendar" *ngIf="viewCalender">
    @for (item of [1,2,3]; track item;let i=$index) {
        <div>
            <app-month-view 
                [currentMonth]="getCuttentMonth(i)" 
                [headerBtn]="{preBtn:i==0,nextBtn:i==2}"
                [startDate]="startDate"
                [endDate]="endDate"
                (changeMonth)="changeMonth($event)"
                (selectedDate)="selectDate($event)"
                (changeMonthYear)="changeMonthYear($event)"
            ></app-month-view>
        </div>
    }
</div> 