.container-div{
    /* position: fixed; */
    /* max-width: 70vw; */
    width: fit-content;
    z-index: 50;
    background: #FFFFFF;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.47451);
    border: 1px solid rgb(182, 182, 182);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    overflow: auto; 
    max-height: 300px; 
    scrollbar-width: thin;
}

.container-div .extend{
    max-height: 600px; 
}

.sub-div{
    position: absolute;
    left: 1.25rem;
    top: -0.625rem;
    background-color: white;
    transform: rotate(45deg);
    width: 1.25rem;
    height: 1.25rem;
    z-index: 99;
    border-top-width: 1px;
    border-left-width: 1px;
}



