<!-- <app-dc-api-test></app-dc-api-test> -->

<!-- <div appContextMenu [appContextMenuList]="contextMenuItems">
  Right-click me to show the context menu.
</div> -->

<!-- <router-outlet></router-outlet> -->


<!-- <app-di-first></app-di-first> -->

<!-- <app-logger-testing></app-logger-testing> -->

<!-- <app-logger-testing2></app-logger-testing2> -->

<!-- <app-super-centered></app-super-centered> -->

<!-- <app-custom-directive></app-custom-directive> -->

<!-- <app-static-item></app-static-item> -->

<!-- Start NotPseudoClassComponent -->
  <!-- <div test>Working</div>
  <span test>Working</span>
  <p test>Not Working</p>
  <section test>Working</section> -->

  <!-- <button type="reset">test</button> Working -->
  <!-- <input type="submit"> Not Woeking  -->
<!-- End NotPseudoClassComponent -->

<!-- <app-animation-todo></app-animation-todo> -->

<!-- <app-animation-test></app-animation-test> -->

<!-- <app-child></app-child> -->


<!-- <app-pop-up></app-pop-up>
<button (click)="testDynamic()">Test</button> -->

<!-- <app-form-testing></app-form-testing> -->


<!-- <app-reactive></app-reactive>
<app-comp2></app-comp2> -->

<!-- <app-signal-test></app-signal-test> -->


<!-- <app-connection-lines></app-connection-lines> -->


<!-- <app-first-queary></app-first-queary> -->

<app-api-state-handle></app-api-state-handle>
<app-state-test></app-state-test>

