<!-- <app-dc-api-test></app-dc-api-test> -->

<!-- <div appContextMenu [appContextMenuList]="contextMenuItems">
  Right-click me to show the context menu.
</div> -->

<!-- <app-popup></app-popup> -->
<!-- <router-outlet></router-outlet> -->


<!-- <app-di-first></app-di-first> -->

<!-- <app-logger-testing></app-logger-testing> -->

<!-- <app-logger-testing2></app-logger-testing2> -->

<!-- <app-super-centered></app-super-centered> -->

<!-- <app-custom-directive></app-custom-directive> -->

<!-- <app-static-item></app-static-item> -->

<!-- Start NotPseudoClassComponent -->
  <!-- <div test>Working</div>
  <span test>Working</span>
  <p test>Not Working</p>
  <section test>Working</section> -->

  <!-- <button type="reset">test</button> Working -->
  <!-- <input type="submit"> Not Woeking  -->
<!-- End NotPseudoClassComponent -->

<!-- <app-animation-todo></app-animation-todo> -->

<!-- <app-animation-test></app-animation-test> -->

<!-- <app-child></app-child> -->


<!-- <app-pop-up></app-pop-up>
<button (click)="testDynamic()">Test</button> -->

<!-- <app-form-testing></app-form-testing> -->


<!-- <app-reactive></app-reactive>
<app-comp2></app-comp2> -->

<!-- <app-signal-test></app-signal-test> -->


<!-- <app-connection-lines></app-connection-lines> -->


<!-- <app-first-queary></app-first-queary> -->

<!-- <app-api-state-handle></app-api-state-handle>
<app-state-test></app-state-test> -->

<!-- <app-date-range></app-date-range> -->

<!-- <app-resizable-table-column></app-resizable-table-column> -->

<!-- <app-form-validation-error></app-form-validation-error> -->

<!-- <app-child-form-group-validation></app-child-form-group-validation> -->


<!-- 
<div class="test a" >
  Test
</div>

<div class="test" >
  Test
</div> -->

<!-- <app-cacheing></app-cacheing> -->

<!-- <input type="checkbox" name="" id="" [value]="modelValue()" (click)="testFun($event)" > -->

<!-- <input type="text "> -->


<!-- <button (click)="fun()">Test</button> -->

<!-- {{ testVal | json}} -->

<!-- <NgTemplateLoad></NgTemplateLoad> -->
 <!-- <InfiniteScrollComponent></InfiniteScrollComponent> -->
  <!-- <app-custom-field-config></app-custom-field-config> -->
<!-- <app-chart-test></app-chart-test> -->
 <!-- <app-NotationEditor></app-NotationEditor> -->
  <!-- <app-Draggable-component></app-Draggable-component> -->

  <!-- <object-comp></object-comp> -->

  <!-- <app-top-nav></app-top-nav> -->

  <!-- <user-inactivity></user-inactivity> -->

  <!-- <button (click)="changeItem()">Add Item</button> -->
  <!-- <svg class="circle" width="200" height="200">
    <circle class="background" cx="100" cy="100" r="90" stroke="lightgray" stroke-width="10" fill="none"/>
    <circle class="progress" 
            cx="100" cy="100" r="90" 
            stroke="green" stroke-width="10" fill="none"
            [style.stroke-dashoffset]="strokeOffset"
            stroke-dasharray="565.48">
    </circle>
  </svg> -->

  <!-- @if(option['name']){
    <select name="" id="">
      @for (item of (option['name']() | async)??[]; track $index) {
        <option [value]="item.label">{{item.label}}</option>
      }
    </select>
  }
  {{option['name']() | async | json}}
 <div>
  <button (click)="change1()">Change Value 1</button>
  <button (click)="change2()">Change Value 2</button>
 </div> -->


 <!-- <ClauseTable></ClauseTable> -->


<!--  
 <div
 cdkDropList
 class="example-list"
 (cdkDropListDropped)="start()"
 (cdkDropListEntered)="enter()"

 >
 @for (number of numbers; track number) {
   <div
     class="example-box"
     draggable="true"
      (dragleave)="drop()"
     (dragenter)="enter()"
     cdkDrag>{{number}}</div>
 }
</div> -->


<!-- <div class="draggable" draggable="true">Drag Me</div>

<div class="dropzone">Drop Here</div> -->

<!-- <div [formGroup]="numberFormGroup">
  <input type="number" formControlName="numberFormControl">
</div> -->


<!-- <json-compapir></json-compapir> -->

<!-- <app-pipe-vs-function></app-pipe-vs-function> -->

<!-- <app-textarea-text-highlight></app-textarea-text-highlight> -->


<div [formGroup]="tempFormGroup">

  <div formArrayName="list">

    @for (item of itemList.controls; track $index) {
      <div [formGroupName]="$index">
        <input type="text" formControlName="item1" placeholder="Item 1">
        <input type="text"  formControlName="item2" placeholder="Item 2">
        <input type="text"  formControlName="item3" placeholder="Item 3">

      </div>
    }
    
    <button (click)="addForm()">Add More</button>

  </div>

</div>

<button (click)="check()">Check</button>


 

