<div class="css-container">
    <div class="wrapper ex1">
        <div class="parent ">
            <div class="item blue" contenteditable>
                :)
            </div>
        </div>
    </div>
    
    
    <div class="wrapper ex2">
        <div class="parent">
            <div class="item green" contenteditable>
                :)
            </div>
            <div class="item green" contenteditable>
                :)
            </div>
            <div class="item green" contenteditable>
                :)
            </div>
        </div>
    </div>
</div>