<div  [formGroup]="formGroup">
    <div formArrayName="clauseList">
        @for (item of clauseList.controls; track item; let i= $index) {
            <div [formGroupName]="i" style="display: flex; border-bottom: 1px solid red;">
                <input type="text" name="" id="" formControlName="groupName">
                
                
                <div formArrayName="list" style="display: flex;flex-direction: column;" >
                    @for (childitem of getChildClauseList(i).controls; track childitem; let j=$index) {
    <div class="" [formGroupName]="j" style="display: flex;  border: 2px dashed white;cursor: move;"
                            taomishUiDraggableList
                            (dragstart)="dragstart(i,j,$event)"
                            (dragenter)="dragenter(i,j)"
                            (dragend)="dragend()"
                        >
                            <input type="text" name="" id=""  readonly formControlName="clauseCode">
                            <input type="text" name="" id="" formControlName="clauseHeading">
                            <textarea name="" id=""  formControlName="clauseDescription"></textarea>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>


<!-- <div style="height: 10vh;overflow-y: auto;">
    <pre>
        {{formGroup.value | json}}
    </pre>
</div> -->