<div  [formGroup]="formGroup">
    <div formArrayName="clauseList">
        @for (item of clauseList.controls; track $index; let i= $index) {
            <div [formGroupName]="i" style="display: flex;">
                <input type="text" name="" id="" formControlName="groupName">
                
                
                <div formArrayName="list" style="display: flex;flex-direction: column;" >
                    @for (childitem of getChildClauseList(item.get('groupName')?.value,i).controls; track $index; let j=$index) {
                        <div class="" [formGroupName]="j" style="display: flex;"
                            taomishUiDraggableList
                            [items]="data"
                            [index]="i"
                            (reordered)="onItemsReordered($event)" 
                        >
                            <input type="text" name="" id="" formControlName="clauseCode">
                            <input type="text" name="" id="" formControlName="clauseCategory">
                            <textarea name="" id=""  formControlName="clauseDescription"></textarea>
                        </div>
                    }
                </div>


            </div>
        }
    </div>
</div>